In [1]:
import pandas as pd
#! pip install fiona
! pip install pyshp
! pip install Basemap

Collecting pyshp
  Downloading https://files.pythonhosted.org/packages/27/16/3bf15aa864fb77845fab8007eda22c2bd67bd6c1fd13496df452c8c43621/pyshp-2.1.0.tar.gz (215kB)
    100% |████████████████████████████████| 225kB 243kB/s ta 0:00:01
Building wheels for collected packages: pyshp
  Running setup.py bdist_wheel for pyshp ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/a6/0c/de/321b5192ad416b328975a2f0385f72c64db4656501eba7cc1a
Successfully built pyshp
Installing collected packages: pyshp
Successfully installed pyshp-2.1.0
Collecting Basemap
  Could not find a version that satisfies the requirement Basemap (from versions: )
No matching distribution found for Basemap

# Step:1

In [2]:
!ls /home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx

ls: cannot access '/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx': No such file or directory

In [2]:
##read data file *G02*
df=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_Suburbs/2016_Census_NSW_suburbs/2016Census_G02_NSW_SSC.csv')

##read meta data(suburb code to name mapping)
df_ref_data = pd.read_excel('/home/jovyan/Property_proj/Data/2016_Census_NSW_Suburbs/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx', index_col=None,
                  sheetname ='2016_ASGS_Non-ABS_Structures')

/opt/conda/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [15]:
## Merge the G02 file with reference data file to get the suburb name.
collated_df1 = pd.merge(df, df_ref_data, left_on='SSC_CODE_2016', right_on='Census_Code_2016', how='left')

In [16]:
##Testing the merge
collated_df1.where(merged['SSC_CODE_2016'] =='SSC13156').dropna()

,SSC_CODE_2016,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size,ASGS_Structure,Census_Code_2016,ASGS_Code_2016,Census_Name_2016,Area sqkm
3155,SSC13156,31.0,1874.0,755.0,430.0,1802.0,1.3,1739.0,2.6,SSC,SSC13156,13156.0,Parramatta,5.2595

# Df with basic aggrigated information
####  Median_age_persons, Median_mortgage_repay_monthly, Median_tot_prsnl_inc_weekly, Median_rent_weekly, Median_tot_fam_inc_weekly, Average_num_psns_per_bedroom, Median_tot_hhd_inc_weekly, Average_household_size

In [39]:
collated_df2=collated_df1[['SSC_CODE_2016','Census_Name_2016', 'Median_age_persons', 'Median_mortgage_repay_monthly',
       'Median_tot_prsnl_inc_weekly', 'Median_rent_weekly',
       'Median_tot_fam_inc_weekly', 'Average_num_psns_per_bedroom',
       'Median_tot_hhd_inc_weekly', 'Average_household_size']]


#df_aggrigated_info.count()

In [19]:
#df_aggrigated_info.to_csv("aggrigated_info.csv")

# Step: 2

In [21]:
#df1=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/2016_Census_NSW_suburbs/2016Census_G10A_NSW_SSC.csv')
#df1=df1.set_index('SSC_CODE_2016')
#df1_1=df1.filter(regex='Tot')
#df1_1.head()

In [22]:
import io
import numpy as np
import xlrd
import os
import pandas as pd
import fnmatch
pd.options.display.float_format = '{:.2f}'.format


#/Users/vsam/Documents/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs

In [24]:
dir_path='/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs'
test_merg=df_aggrigated_info  #---------------------- ASK APPANDU
#test_merg.columns

In [27]:
def my_function1(dir_path,file_classification):
    test_merg=df_aggrigated_info
    all_files=os.listdir(dir_path)
    csv_files=[f for f in all_files if f.endswith((".csv"))]
    needed_file=[]
    
    my_regex= '*' + file_classification + '*'
    
    for file in csv_files:
        if fnmatch.fnmatch(file, my_regex):
            needed_file.append(file)
    
    #print(needed_file)
    
    for file in needed_file:
        df=pd.read_csv(dir_path + '/' + file)
        df=df.set_index('SSC_CODE_2016')
        df=df.filter(regex='_Tot')
        test_merg = pd.merge(test_merg, df, left_on='SSC_CODE_2016', right_on='SSC_CODE_2016', how='left')
    
    return test_merg

In [28]:
#Function call to load one category of files
a=my_function1("/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/2016_Census_NSW_suburbs", "G10")
#select a suburb
#b=a.where(a['Census_Name_2016']=='Parramatta').dropna()
#b

In [29]:
a.columns

Index(['SSC_CODE_2016', 'Census_Name_2016', 'Median_age_persons',
       'Median_mortgage_repay_monthly', 'Median_tot_prsnl_inc_weekly',
       'Median_rent_weekly', 'Median_tot_fam_inc_weekly',
       'Average_num_psns_per_bedroom', 'Median_tot_hhd_inc_weekly',
       'Average_household_size', 'South_Africa_Tot', 'Sri_Lanka_Tot',
       'Thailand_Tot', 'FYROM_Tot', 'Turkey_Tot', 'United_Kingdom_Tot',
       'USA_Total', 'Vietnam_Tot', 'Zimbabwe_Tot', 'Born_elsewhere_Tot',
       'Tot_Tot', 'Ireland_Tot', 'Italy_Tot', 'Japan_Tot',
       'Korea_Republic_South_Tot', 'Lebanon_Tot', 'Malaysia_Tot', 'Malta_Tot',
       'Netherlands_Tot', 'New_Zealand_Tot', 'Pakistan_Tot', 'Philippines_Tot',
       'Poland_Tot', 'Singapore_Tot', 'Canada_Tot',
       'China_exc_SARs_Taiwan_Tot', 'Croatia_Tot', 'Egypt_Tot', 'Fiji_Tot',
       'Germany_Tot', 'Greece_Tot', 'Hong_Kong_SAR_China_Tot', 'India_Tot',
       'Indonesia_Tot', 'Iran_Tot', 'Iraq_Tot'],
      dtype='object')

# Function to select top 5 nationalities in each suburb

In [30]:
def pop_percentage(row):
    #------- Define local Variables
    out_str = ""
    Tot_Tot = 0
    i = 0
    others= 0
    others_per = 0
    others_per_str= ""
    #------- 
    
    # Read the current row,  transpose and create as dataframe
    df_1 = row.transpose()
    # Filter out the string columns
    df_test = df_1[(df_1.index!="SSC_CODE_2016") & (df_1.index!="Census_Name_2016")]
    
    df_test_1 = pd.DataFrame({'country':df_test.index, 'no_pop':df_test.values})\
                  .sort_values(by=['no_pop'],ascending=False)
    
    for values in df_test_1.T.to_dict().values():
        # check and read the Tot_Tot - Total population and assign to variable
        if values['country']=="Tot_Tot":
            Tot_Tot = values['no_pop']
            
        # check and read the Born_elsewhere_Tot - other category assign to variable
        elif values['country']=="Born_elsewhere_Tot":
            others = others + round(values['no_pop'])
        else:
            # Number of top country the the  i value 
            if (i<5):
                i = i+1
                if Tot_Tot == 0:
                    per_ = 0
                else:
                    per_  =  round((values['no_pop']/Tot_Tot ) *100, 2)
                out_str =  out_str + str(i) + "|" + (values['country'].replace("_Tot","") + "|" +str( per_) + ",")
            else:
                others= others + round(values['no_pop'])
    if Tot_Tot == 0:
        others_per = 0
    else: 
        others_per = round((others/Tot_Tot)* 100, 2)
    others_per_str = str(0) + "|other_countries|" +  str(others_per)    
    return out_str + str(others_per_str)

In [31]:
lst= [i for i in a.columns if i.endswith("_Tot")]
print(lst)
# Add key columns
df_sel =a[["SSC_CODE_2016", "Census_Name_2016"] + lst]

['South_Africa_Tot', 'Sri_Lanka_Tot', 'Thailand_Tot', 'FYROM_Tot', 'Turkey_Tot', 'United_Kingdom_Tot', 'Vietnam_Tot', 'Zimbabwe_Tot', 'Born_elsewhere_Tot', 'Tot_Tot', 'Ireland_Tot', 'Italy_Tot', 'Japan_Tot', 'Korea_Republic_South_Tot', 'Lebanon_Tot', 'Malaysia_Tot', 'Malta_Tot', 'Netherlands_Tot', 'New_Zealand_Tot', 'Pakistan_Tot', 'Philippines_Tot', 'Poland_Tot', 'Singapore_Tot', 'Canada_Tot', 'China_exc_SARs_Taiwan_Tot', 'Croatia_Tot', 'Egypt_Tot', 'Fiji_Tot', 'Germany_Tot', 'Greece_Tot', 'Hong_Kong_SAR_China_Tot', 'India_Tot', 'Indonesia_Tot', 'Iran_Tot', 'Iraq_Tot']

In [32]:
df_sel['pop_percentage'] = df_sel.apply(pop_percentage, axis=1)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
df_top_population=df_sel[["SSC_CODE_2016","Census_Name_2016","pop_percentage"]]

### This DF contains the top 5 group of people based on their origin nationality

In [38]:
df_top_population.head()

,SSC_CODE_2016,Census_Name_2016,pop_percentage
0,SSC10001,Aarons Pass,"1|United_Kingdom|100.0,2|Fiji|0.0,3|Poland|0.0..."
1,SSC10002,Abbotsbury,"1|Iraq|20.26,2|Italy|10.16,3|Vietnam|7.71,4|Ph..."
2,SSC10003,Abbotsford (NSW),"1|Italy|18.74,2|United_Kingdom|13.79,3|China_e..."
3,SSC10004,Abercrombie,"1|United_Kingdom|26.74,2|New_Zealand|11.63,3|S..."
4,SSC10005,Abercrombie River,"1|New_Zealand|0.0,2|Philippines|0.0,3|Poland|0..."

### Merging "basic aggrigated info" df with "Nationality" df

In [40]:
collated_df3 = pd.merge(collated_df2, df_top_population, left_on='SSC_CODE_2016', right_on='SSC_CODE_2016', how='left')

# Step: 3

### Dwelling structure

In [71]:
#Read the input data

df_dwelling=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_Suburbs/2016_Census_NSW_suburbs/2016Census_G33_NSW_SSC.csv')

In [73]:
df_dwelling.set_index('SSC_CODE_2016')

df_dwelling1=df_dwelling[['SSC_CODE_2016','R_Tot_Total','Total_DS_Sep_house','Total_DS_SemiD_ro_or_tce_h_th','Total_DS_Flat_apart','Total_DS_Oth_dwell','Total_DS_not_stated','Total_Total']]
#df_dwelling1.head()

In [74]:
# Renaming the columns

df_dwelling1.columns=['SSC_CODE_2016','Total_rented_dwellings','Separate_house_Total','Town_house_and_similar','Flats_appartments','Other_Dwellings','Dweling_structur_NS','Total_dwellings']

In [75]:
df_dwelling1.head()

,SSC_CODE_2016,Total_rented_dwellings,Separate_house_Total,Town_house_and_similar,Flats_appartments,Other_Dwellings,Dweling_structur_NS,Total_dwellings
0,SSC10001,0,6,0,0,0,0,6
1,SSC10002,95,1180,20,0,0,0,1203
2,SSC10003,800,623,328,1184,10,12,2165
3,SSC10004,50,336,14,0,0,0,349
4,SSC10005,3,11,0,0,0,0,11

In [76]:
#calculating the percentage of rented dwellings

df_dwelling1['Percentage_of_rented_dwellings']=(df_dwelling1['Total_rented_dwellings']/df_dwelling1["Total_dwellings"])*100

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [77]:
df_dwelling1.head()

,SSC_CODE_2016,Total_rented_dwellings,Separate_house_Total,Town_house_and_similar,Flats_appartments,Other_Dwellings,Dweling_structur_NS,Total_dwellings,Percentage_of_rented_dwellings
0,SSC10001,0,6,0,0,0,0,6,0.00
1,SSC10002,95,1180,20,0,0,0,1203,7.90
2,SSC10003,800,623,328,1184,10,12,2165,36.95
3,SSC10004,50,336,14,0,0,0,349,14.33
4,SSC10005,3,11,0,0,0,0,11,27.27

### Merging "collated_df3" with "Dwelling_structure" DF

In [78]:
collated_df4 = pd.merge(collated_df3, df_dwelling1, left_on='SSC_CODE_2016', right_on='SSC_CODE_2016', how='left')

# Step 5: Religion

In [80]:
#Reading religion data into df
rel_df=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/2016_Census_NSW_suburbs/2016Census_G14_NSW_SSC.csv')

In [83]:
rel_df.set_index('SSC_CODE_2016')
#a=rel_df
lst= [i for i in rel_df.columns if i.endswith("_P")]

df_rel_colls_filtered =a[["SSC_CODE_2016"] + lst]

In [86]:
#filtering the "total Population" columns per religion

df_rel_colls_filtered1= df_rel_colls_filtered[['SSC_CODE_2016','Christianity_Tot_P', 'Hinduism_P', 'Islam_P', 'Judaism_P',
       'Othr_Rel_Aust_Abor_Trad_Rel_P', 
       'Othr_Reln_Other_reln_groups_P', 'Other_Religions_Tot_P',
       'SB_OSB_NRA_Tot_P', 'Religious_affiliation_ns_P']]

In [87]:
#Renaming the columns

df_rel_colls_filtered1.columns=['SSC_CODE_2016','Christianity', 'Hinduism', 'Islam', 'Judaism',
       'Aborginal_Traditional_Rel', 
       'Othr_Reln_Other_reln_groups_P', 'Other_Religions',
       'Secular_Beliefs_and_No_Religious_Affiliation', 'Religious_affiliation_ns_P']

### Merging "Collated_4" df with "Religion" df

In [88]:
collated_df5 = pd.merge(collated_df4, df_rel_colls_filtered1, left_on='SSC_CODE_2016', right_on='SSC_CODE_2016', how='left')

In [90]:
collated_df5.head()

,SSC_CODE_2016,Census_Name_2016_x,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size,...,Percentage_of_rented_dwellings,Christianity,Hinduism,Islam,Judaism,Aborginal_Traditional_Rel,Othr_Reln_Other_reln_groups_P,Other_Religions,Secular_Beliefs_and_No_Religious_Affiliation,Religious_affiliation_ns_P
0,SSC10001,Aarons Pass,50,0,575,0,1375,0.40,949,1.40,...,0.00,19,0,0,0,0,0,0,3,3
1,SSC10002,Abbotsbury,38,2167,721,505,2175,0.90,2171,3.50,...,7.90,3445,34,110,0,0,31,29,302,166
2,SSC10003,Abbotsford (NSW),45,2600,965,520,2489,0.90,2006,2.30,...,36.95,3363,23,36,28,0,19,22,1286,506
3,SSC10004,Abercrombie,36,1733,813,370,2200,0.80,2006,3.10,...,14.33,808,3,0,0,0,0,0,213,89
4,SSC10005,Abercrombie River,55,0,449,0,900,0.70,833,1.60,...,27.27,4,0,0,0,0,0,0,15,3

In [91]:
collated_df5.where(merged['SSC_CODE_2016'] =='SSC13156').dropna()

,SSC_CODE_2016,Census_Name_2016_x,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size,...,Percentage_of_rented_dwellings,Christianity,Hinduism,Islam,Judaism,Aborginal_Traditional_Rel,Othr_Reln_Other_reln_groups_P,Other_Religions,Secular_Beliefs_and_No_Religious_Affiliation,Religious_affiliation_ns_P
3155,SSC13156,Parramatta,31.00,1874.00,755.00,430.00,1802.00,1.30,1739.00,2.60,...,68.42,6305.00,7353.00,1605.00,12.00,3.00,240.00,854.00,5617.00,2977.00