In [13]:
import pandas as pd

In [14]:
!ls /home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs/2016Census_G38_NSW_SSC.csv

ls: cannot access '/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs/2016Census_G38_NSW_SSC.csv': No such file or directory

In [15]:
##read data file
df=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_Suburbs/2016_Census_NSW_suburbs/2016Census_G33_NSW_SSC.csv')
##read meta data(suburb code to name mapping)
df_ref_data = pd.read_excel('/home/jovyan/Property_proj/Data/2016_Census_NSW_Suburbs/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx', index_col=None,
                  sheetname ='2016_ASGS_Non-ABS_Structures')

# Step 3: Dwelling Structure

In [16]:
df.set_index('SSC_CODE_2016')

df1=df[['SSC_CODE_2016','R_Tot_Total','Total_DS_Sep_house','Total_DS_SemiD_ro_or_tce_h_th','Total_DS_Flat_apart','Total_DS_Oth_dwell','Total_DS_not_stated','Total_Total']]
df1.head()

,SSC_CODE_2016,R_Tot_Total,Total_DS_Sep_house,Total_DS_SemiD_ro_or_tce_h_th,Total_DS_Flat_apart,Total_DS_Oth_dwell,Total_DS_not_stated,Total_Total
0,SSC10001,0,6,0,0,0,0,6
1,SSC10002,95,1180,20,0,0,0,1203
2,SSC10003,800,623,328,1184,10,12,2165
3,SSC10004,50,336,14,0,0,0,349
4,SSC10005,3,11,0,0,0,0,11

In [20]:
df1.columns=['SSC_CODE_2016','Total_rented_dwellings','Separate_house_Total','Town_house_and_similar','Flats_appartments','Other_Dwellings','Dweling_structur_NS','Total_dwellings']

In [21]:
df1.head()

,SSC_CODE_2016,Total_rented_dwellings,Separate_house_Total,Town_house_and_similar,Flats_appartments,Other_Dwellings,Dweling_structur_NS,Total_dwellings
0,SSC10001,0,6,0,0,0,0,6
1,SSC10002,95,1180,20,0,0,0,1203
2,SSC10003,800,623,328,1184,10,12,2165
3,SSC10004,50,336,14,0,0,0,349
4,SSC10005,3,11,0,0,0,0,11

In [22]:
df1.where(df1['SSC_CODE_2016']=='SSC10003').dropna()

,SSC_CODE_2016,Total_rented_dwellings,Separate_house_Total,Town_house_and_similar,Flats_appartments,Other_Dwellings,Dweling_structur_NS,Total_dwellings
2,SSC10003,800.0,623.0,328.0,1184.0,10.0,12.0,2165.0

In [26]:
df1.count()

SSC_CODE_2016             4526
Total_rented_dwellings    4526
Separate_house_Total      4526
Town_house_and_similar    4526
Flats_appartments         4526
Other_Dwellings           4526
Dweling_structur_NS       4526
Total_dwellings           4526
dtype: int64