In [49]:
import pandas as pd
#! pip install fiona
! pip install pyshp
! pip install Basemap

Collecting pyshp
  Downloading https://files.pythonhosted.org/packages/08/3e/3bda7dfdbee0d7a22d38443f5cc8d154ff6d4701e615f4c07bf1ed003563/pyshp-2.0.1.tar.gz (214kB)
    100% |████████████████████████████████| 215kB 852kB/s ta 0:00:01
Building wheels for collected packages: pyshp
  Running setup.py bdist_wheel for pyshp ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/cc/e8/7c/f00fc95ae2a16ed41be9defdd647213a334fd12e03b1452c26
Successfully built pyshp
Installing collected packages: pyshp
Successfully installed pyshp-2.0.1
Collecting Basemap
  Could not find a version that satisfies the requirement Basemap (from versions: )
No matching distribution found for Basemap

# Step:1

In [2]:
!ls /home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx

ls: cannot access '/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx': No such file or directory

In [106]:
##read data file
df=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_Suburbs/2016_Census_NSW_suburbs/2016Census_G02_NSW_SSC.csv')
##read meta data(suburb code to name mapping)
df_ref_data = pd.read_excel('/home/jovyan/Property_proj/Data/2016_Census_NSW_Suburbs/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx', index_col=None,
                  sheetname ='2016_ASGS_Non-ABS_Structures')

/opt/conda/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

,SSC_CODE_2016,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size
0,SSC10001,50,0,575,0,1375,0.40,949,1.40
1,SSC10002,38,2167,721,505,2175,0.90,2171,3.50
2,SSC10003,45,2600,965,520,2489,0.90,2006,2.30
3,SSC10004,36,1733,813,370,2200,0.80,2006,3.10
4,SSC10005,55,0,449,0,900,0.70,833,1.60

In [87]:
#df=df.drop_duplicates(subset='SSC_CODE_2016', keep=False)
merged = pd.merge(df, df_ref_data, left_on='SSC_CODE_2016', right_on='Census_Code_2016', how='left')

In [85]:
#merged.where(merged['SSC_CODE_2016'] =='SSC13156').dropna()

# Df with basic aggrigated information
####  Median_age_persons, Median_mortgage_repay_monthly, Median_tot_prsnl_inc_weekly, Median_rent_weekly, Median_tot_fam_inc_weekly, Average_num_psns_per_bedroom, Median_tot_hhd_inc_weekly, Average_household_size

In [90]:
df_aggrigated_info=merged[['SSC_CODE_2016','Census_Name_2016', 'Median_age_persons', 'Median_mortgage_repay_monthly',
       'Median_tot_prsnl_inc_weekly', 'Median_rent_weekly',
       'Median_tot_fam_inc_weekly', 'Average_num_psns_per_bedroom',
       'Median_tot_hhd_inc_weekly', 'Average_household_size']]


merged_selected.columns

Index(['SSC_CODE_2016', 'Census_Name_2016', 'Median_age_persons',
       'Median_mortgage_repay_monthly', 'Median_tot_prsnl_inc_weekly',
       'Median_rent_weekly', 'Median_tot_fam_inc_weekly',
       'Average_num_psns_per_bedroom', 'Median_tot_hhd_inc_weekly',
       'Average_household_size'],
      dtype='object')

In [92]:
df_aggrigated_info.to_csv("aggrigated_info.csv")

# Step: 2

In [93]:
df1=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/2016_Census_NSW_suburbs/2016Census_G10A_NSW_SSC.csv')
df1=df1.set_index('SSC_CODE_2016')
df1_1=df1.filter(regex='Tot')
df1_1.head()

,Canada_Tot,China_exc_SARs_Taiwan_Tot,Croatia_Tot,Egypt_Tot,Fiji_Tot,Germany_Tot,Greece_Tot,Hong_Kong_SAR_China_Tot,India_Tot,Indonesia_Tot,Iran_Tot,Iraq_Tot
SSC_CODE_2016,,,,,,,,,,,,
SSC10001,0,0,0,0,0,0,0,0,0,0,0,0
SSC10002,3,30,59,20,31,8,17,6,12,5,48,297
SSC10003,7,165,12,17,6,20,30,47,23,16,13,3
SSC10004,3,6,0,0,4,3,0,0,4,0,0,0
SSC10005,0,0,0,0,0,0,0,0,0,0,0,0

In [94]:
import io
import numpy as np
import xlrd
import os
import pandas as pd
import fnmatch
pd.options.display.float_format = '{:.2f}'.format


#/Users/vsam/Documents/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs

In [95]:
dir_path='/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs'
test_merg=merged_selected
#test_merg.columns

In [96]:
def my_function1(dir_path,file_classification):
    test_merg=merged_selected
    all_files=os.listdir(dir_path)
    csv_files=[f for f in all_files if f.endswith((".csv"))]
    needed_file=[]
    
    my_regex= '*' + file_classification + '*'
    
    for file in csv_files:
        if fnmatch.fnmatch(file, my_regex):
            needed_file.append(file)
    
    #print(needed_file)
    
    for file in needed_file:
        df=pd.read_csv(dir_path + '/' + file)
        df=df.set_index('SSC_CODE_2016')
        df=df.filter(regex='_Tot')
        test_merg = pd.merge(test_merg, df, left_on='SSC_CODE_2016', right_on='SSC_CODE_2016', how='left')
    
    return test_merg

In [97]:
#Function call to load one category of files
a=my_function1("/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/2016_Census_NSW_suburbs", "G10")
#select a suburb
#b=a.where(a['Census_Name_2016']=='Parramatta').dropna()
#b

In [98]:
#a.columns

# Function to select top 5 nationalities in the suburb

In [99]:
def pop_percentage(row):
    #------- Define local Variables
    out_str = ""
    Tot_Tot = 0
    i = 0
    others= 0
    others_per = 0
    others_per_str= ""
    #------- 
    
    # Read the current row,  transpose and create as dataframe
    df_1 = row.transpose()
    # Filter out the string columns
    df_test = df_1[(df_1.index!="SSC_CODE_2016") & (df_1.index!="Census_Name_2016")]
    
    df_test_1 = pd.DataFrame({'country':df_test.index, 'no_pop':df_test.values})\
                  .sort_values(by=['no_pop'],ascending=False)
    
    for values in df_test_1.T.to_dict().values():
        # check and read the Tot_Tot - Total population and assign to variable
        if values['country']=="Tot_Tot":
            Tot_Tot = values['no_pop']
            
        # check and read the Born_elsewhere_Tot - other category assign to variable
        elif values['country']=="Born_elsewhere_Tot":
            others = others + round(values['no_pop'])
        else:
            # Number of top country the the  i value 
            if (i<5):
                i = i+1
                if Tot_Tot == 0:
                    per_ = 0
                else:
                    per_  =  round((values['no_pop']/Tot_Tot ) *100, 2)
                out_str =  out_str + str(i) + "|" + (values['country'].replace("_Tot","") + "|" +str( per_) + ",")
            else:
                others= others + round(values['no_pop'])
    if Tot_Tot == 0:
        others_per = 0
    else: 
        others_per = round((others/Tot_Tot)* 100, 2)
    others_per_str = str(0) + "|other_countries|" +  str(others_per)    
    return out_str + str(others_per_str)

In [100]:
lst= [i for i in a.columns if i.endswith("_Tot")]

# Add key columns
df_sel =a[["SSC_CODE_2016", "Census_Name_2016"] + lst]

In [101]:
df_sel['pop_percentage'] = df_sel.apply(pop_percentage, axis=1)

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [102]:
df_top_population=df_sel[["SSC_CODE_2016","Census_Name_2016","pop_percentage"]]

### This DF contains the top 5 group of people based on their origin nationality

In [111]:
df_top_population.head()

,SSC_CODE_2016,Census_Name_2016,pop_percentage
0,SSC10001,Aarons Pass,"1|United_Kingdom|100.0,2|Fiji|0.0,3|Poland|0.0..."
1,SSC10002,Abbotsbury,"1|Iraq|20.26,2|Italy|10.16,3|Vietnam|7.71,4|Ph..."
2,SSC10003,Abbotsford (NSW),"1|Italy|18.74,2|United_Kingdom|13.79,3|China_e..."
3,SSC10004,Abercrombie,"1|United_Kingdom|26.74,2|New_Zealand|11.63,3|S..."
4,SSC10005,Abercrombie River,"1|New_Zealand|0.0,2|Philippines|0.0,3|Poland|0..."