In [2]:
import pandas as pd

# Step:1

In [3]:
!ls /home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx

/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx

In [4]:
##read data file
df=pd.read_csv('/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs/2016Census_G02_NSW_SSC.csv')
##read meta data(suburb code to name mapping)
df_ref_data = pd.read_excel('/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx', index_col=None,
                  sheetname ='2016_ASGS_Non-ABS_Structures')

/opt/conda/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [5]:
#df=df.drop_duplicates(subset='SSC_CODE_2016', keep=False)
merged = pd.merge(df, df_ref_data, left_on='SSC_CODE_2016', right_on='Census_Code_2016', how='left')

In [6]:
merged.head()

,SSC_CODE_2016,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size,ASGS_Structure,Census_Code_2016,ASGS_Code_2016,Census_Name_2016,Area sqkm
0,SSC10001,50,0,575,0,1375,0.4,949,1.4,SSC,SSC10001,10001,Aarons Pass,82.7639
1,SSC10002,38,2167,721,505,2175,0.9,2171,3.5,SSC,SSC10002,10002,Abbotsbury,4.9788
2,SSC10003,45,2600,965,520,2489,0.9,2006,2.3,SSC,SSC10003,10003,Abbotsford (NSW),1.0180
3,SSC10004,36,1733,813,370,2200,0.8,2006,3.1,SSC,SSC10004,10004,Abercrombie,2.9775
4,SSC10005,55,0,449,0,900,0.7,833,1.6,SSC,SSC10005,10005,Abercrombie River,127.1701

# Df with basic aggrigated information
####  Median_age_persons, Median_mortgage_repay_monthly, Median_tot_prsnl_inc_weekly, Median_rent_weekly, Median_tot_fam_inc_weekly, Average_num_psns_per_bedroom, Median_tot_hhd_inc_weekly, Average_household_size

In [9]:
merged_selected=merged[['SSC_CODE_2016','Census_Name_2016', 'Median_age_persons', 'Median_mortgage_repay_monthly',
       'Median_tot_prsnl_inc_weekly', 'Median_rent_weekly',
       'Median_tot_fam_inc_weekly', 'Average_num_psns_per_bedroom',
       'Median_tot_hhd_inc_weekly', 'Average_household_size']]


merged_selected.columns

Index(['SSC_CODE_2016', 'Census_Name_2016', 'Median_age_persons',
       'Median_mortgage_repay_monthly', 'Median_tot_prsnl_inc_weekly',
       'Median_rent_weekly', 'Median_tot_fam_inc_weekly',
       'Average_num_psns_per_bedroom', 'Median_tot_hhd_inc_weekly',
       'Average_household_size'],
      dtype='object')

# Step: 2

In [10]:
df1=pd.read_csv('/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs/2016Census_G10A_NSW_SSC.csv')
df1=df1.set_index('SSC_CODE_2016')
df1_1=df1.filter(regex='Tot')
#df1_1.head()

In [11]:
import io
import numpy as np
import xlrd
import os
import pandas as pd
import fnmatch
pd.options.display.float_format = '{:.2f}'.format


#/Users/vsam/Documents/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs

In [12]:
dir_path='/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs'
test_merg=merged_selected
#test_merg.columns

In [15]:
def my_function1(dir_path,file_classification):
    test_merg=merged_selected
    all_files=os.listdir(dir_path)
    csv_files=[f for f in all_files if f.endswith((".csv"))]
    needed_file=[]
    
    my_regex= '*' + file_classification + '*'
    
    for file in csv_files:
        if fnmatch.fnmatch(file, my_regex):
            needed_file.append(file)
    
    #print(needed_file)
    
    for file in needed_file:
        df=pd.read_csv(dir_path + '/' + file)
        df=df.set_index('SSC_CODE_2016')
        df=df.filter(regex='_Tot')
        test_merg = pd.merge(test_merg, df, left_on='SSC_CODE_2016', right_on='SSC_CODE_2016', how='left')
    
    return test_merg

In [35]:
#Function call to load one category of files
a=my_function1("/home/jovyan/Property_proj/Data/2016_GCP_SSC_for_NSW_short-header/2016_Census_NSW_suburbs", "G10")
#select a suburb
b=a.where(a['SSC_CODE_2016']=='SSC10014').dropna()
b

,SSC_CODE_2016,Census_Name_2016,Median_age_persons,Median_mortgage_repay_monthly,Median_tot_prsnl_inc_weekly,Median_rent_weekly,Median_tot_fam_inc_weekly,Average_num_psns_per_bedroom,Median_tot_hhd_inc_weekly,Average_household_size,...,Croatia_Tot,Egypt_Tot,Fiji_Tot,Germany_Tot,Greece_Tot,Hong_Kong_SAR_China_Tot,India_Tot,Indonesia_Tot,Iran_Tot,Iraq_Tot
13,SSC10014,Acacia Gardens,34.00,2383.00,905.00,520.00,2367.00,0.90,2378.00,3.40,...,8.00,22.00,73.00,5.00,6.00,17.00,440.00,38.00,28.00,5.00

In [33]:
a.columns

Index(['SSC_CODE_2016', 'Census_Name_2016', 'Median_age_persons',
       'Median_mortgage_repay_monthly', 'Median_tot_prsnl_inc_weekly',
       'Median_rent_weekly', 'Median_tot_fam_inc_weekly',
       'Average_num_psns_per_bedroom', 'Median_tot_hhd_inc_weekly',
       'Average_household_size', 'South_Africa_Tot', 'Sri_Lanka_Tot',
       'Thailand_Tot', 'FYROM_Tot', 'Turkey_Tot', 'United_Kingdom_Tot',
       'USA_Total', 'Vietnam_Tot', 'Zimbabwe_Tot', 'Born_elsewhere_Tot',
       'Tot_Tot', 'Ireland_Tot', 'Italy_Tot', 'Japan_Tot',
       'Korea_Republic_South_Tot', 'Lebanon_Tot', 'Malaysia_Tot', 'Malta_Tot',
       'Netherlands_Tot', 'New_Zealand_Tot', 'Pakistan_Tot', 'Philippines_Tot',
       'Poland_Tot', 'Singapore_Tot', 'Canada_Tot',
       'China_exc_SARs_Taiwan_Tot', 'Croatia_Tot', 'Egypt_Tot', 'Fiji_Tot',
       'Germany_Tot', 'Greece_Tot', 'Hong_Kong_SAR_China_Tot', 'India_Tot',
       'Indonesia_Tot', 'Iran_Tot', 'Iraq_Tot'],
      dtype='object')

In [ ]:
id, 1st_country, 1st_tot, 2nd_coun, 
parra, india, 222

In [ ]:
id, Croatia_Tot,Egypt_Tot,Fiji_Tot,Germany_Tot
id, india_Tot,Croatia_Tot,Egypt_Tot,Fiji_Tot