In [3]:
import pandas as pd
import os
import fnmatch

In [5]:
##read base file.
Base_df=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/2016_Census_NSW_suburbs/2016Census_G02_NSW_SSC.csv')
##read data file
df=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/2016_Census_NSW_suburbs/2016Census_G53A_NSW_SSC.csv')
##read meta data(suburb code to name mapping)
df_ref_data = pd.read_excel('/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/Metadata/2016Census_geog_desc_1st_and_2nd_release.xlsx', index_col=None,
                  sheetname ='2016_ASGS_Non-ABS_Structures')

/opt/conda/lib/python3.6/site-packages/pandas/io/excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

# Step 5: Religion

In [4]:
rel_df=pd.read_csv('/home/jovyan/Property_proj/Data/2016_Census_NSW_suburbs/2016_Census_NSW_suburbs/2016Census_G14_NSW_SSC.csv')

In [88]:
#rel_df.set_index('SSC_CODE_2016')

In [5]:
rel_df.set_index('SSC_CODE_2016')
a=rel_df

lst= [i for i in rel_df.columns if i.endswith("_P")]

df_rel_total =a[["SSC_CODE_2016"] + lst]

In [30]:
##rel_df=rel_df.drop('Tot_F',1)
#rel_df=rel_df.drop('Tot_M',1)
#rel_df=rel_df.drop('Tot_P',1)

df_rel_total1= df_rel_total[['SSC_CODE_2016','Christianity_Tot_P', 'Hinduism_P', 'Islam_P', 'Judaism_P',
       'Othr_Rel_Aust_Abor_Trad_Rel_P', 
       'Othr_Reln_Other_reln_groups_P', 'Other_Religions_Tot_P',
       'SB_OSB_NRA_Tot_P', 'Religious_affiliation_ns_P']]

In [31]:
df_rel_total1.where(df_rel_total1['SSC_CODE_2016'] =='SSC13156').dropna()

,SSC_CODE_2016,Christianity_Tot_P,Hinduism_P,Islam_P,Judaism_P,Othr_Rel_Aust_Abor_Trad_Rel_P,Othr_Reln_Other_reln_groups_P,Other_Religions_Tot_P,SB_OSB_NRA_Tot_P,Religious_affiliation_ns_P
3155,SSC13156,6305.0,7353.0,1605.0,12.0,3.0,240.0,854.0,5617.0,2977.0

In [32]:
df_rel_total1.columns=['SSC_CODE_2016','Christianity', 'Hinduism', 'Islam', 'Judaism',
       'Aborginal_Traditional_Rel', 
       'Othr_Reln_Other_reln_groups_P', 'Other_Religions',
       'Secular_Beliefs_and_No_Religious_Affiliation', 'Religious_affiliation_ns_P']

### Final DF with religious information of people in each suburbs

In [36]:
df_rel_total1.count()

SSC_CODE_2016                                   4526
Christianity                                    4526
Hinduism                                        4526
Islam                                           4526
Judaism                                         4526
Aborginal_Traditional_Rel                       4526
Othr_Reln_Other_reln_groups_P                   4526
Other_Religions                                 4526
Secular_Beliefs_and_No_Religious_Affiliation    4526
Religious_affiliation_ns_P                      4526
dtype: int64